@use '../bais/variable' as *;

.calculator {
  .container {
    height: 188px;
  }
  
  &__title {
    color: $main-color;
    width: 386px;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    margin-bottom: 36px;
  }

  &__box {
    width: 629px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
  }

  &__firstinput {
    width: 117px;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 20px;
    background: $second-color;
    color: $shadow-color;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  }

  &__list {
    width: 62px;
    height: 60px;
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    padding-bottom: px;
  }

  &__item {
    width: 26px;
    height: 26px;
  }

  &__button {
    padding: 5px 10px;
    border-radius: 20px;
    background: $main-color;
    color: $background-color;
  }

  &__secondinput {
    width: 117px;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 20px;
    background: $second-color;
    color: $shadow-color;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  }

  &__btn {
    padding: 5px 10px;
    border-radius: 20px;
    background: $main-color;
    color: $background-color;
  }

  &__text {
    width: 117px;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 20px;
    background: $second-color;
    color: $shadow-color;
  }

  &__line {
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 536px;
    height: 1px;
    stroke-width: 1px;
    background-color: $main-color;
    display: flex;
    justify-content: center;
  }
}
