@use "../bais/variable" as *;

body {
font-family: Arial, sans-serif;
display: flex;
flex-direction: column;
align-items: center;
padding: 40px;
}


.text {
font-size: 28px;
font-weight: 600;
margin-bottom: 40px;
}


.wrapper {
display: flex;
align-items: center;
gap: 40px;
}


.input-box {
background: #ddd;
border-radius: 30px;
padding: 0;
display: flex;
align-items: center;
overflow: hidden;
}


.input-box input {
border: none;
background: transparent;
padding: 15px 20px;
font-size: 18px;
width: 150px;
outline: none;
color: #555;
}


.search-btn {
background: #000;
width: 45px;
height: 45px;
display: flex;
align-items: center;
justify-content: center;
border-radius: 0 30px 30px 0;
cursor: pointer;
}


.search-btn span {
color: white;
font-size: 20px;
}


.dots {
font-size: 24px;
color: #888;
}


.result {
font-size: 20px;
color: #333;
min-width: 170px;
text-align: left;
}