@use "../bais/variable" as *;

.calculatetime {
  .container{
    height: 163px;
  }
}


.calculatetime__title {
  margin-left: auto;
  margin-right: auto;
  width: 450px;
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  text-align: center;
}

.calculatetime__boxel {
  display: flex;
  gap: 33px;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.calculatetime__form {
  position: relative;
}

.calculatetime__inputtime {
  color: #7e7e7e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  border-radius: 20px;
 padding: 10px;
  background: #d7d7d7;
  box-shadow: 5px 4px #adadad;
}

.calculatetime__buttonsubmit {
  top: 1px;
  right: 0px;
  position: absolute;
  width: 38px;
  height: 39px;
  padding: 10px;
  border-radius: 0 20px 20px 0;
  background: #000;
  display: flex;
  align-items: center;
  justify-content: center;
}


.calculatetime__line {
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 536px;
  height: 1px;
  stroke-width: 1px;

  display: flex;
  justify-content: center;
}

.years__line {
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 536px;
  height: 1px;
  stroke-width: 1px;
  display: flex;
  justify-content: center;
}



.calculatetime__points{
    stroke-width: 1px;
stroke: #000;
width: 100.0px;

}

.calculatetime__time{
  color: #000;
    text-align: right;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
