@use '../bais/variable' as *;

.choose {
  &__title {
    text-align: center;
    color: #000;
    font-size: 20px;
    font-weight: 400;
    line-height: normal;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 36px;
  }

  &__list {
    width: 636px;
    display: flex;
    flex-wrap: wrap;
    gap: 59px;
    margin-left: 331px;
    margin-right: auto;
  }

  &__item {
    width: 100px;
    height: 100px;
    border-radius: 20px;
    background: #d9d9d9;
  }

  &__name {
    margin-top: 35px;
    color: #000;
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }

  &__years {
    color: #000;
    text-align: center;
    font-size: 8px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%;
  }

  &__box {
    display: flex;
    margin-left: 250px;
    gap: 36px;
    margin-top: 36px;
  }

  &__items {
    text-align: right;
  }

  &__itm {
    margin-bottom: 20px;
  }

  &__itms:nth-child(2) {
    width: 441px;
  }

  &__button {
    padding: 10px 20px;
    gap: 10px;
    border-radius: 20px;
    background: #000;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    text-align: start;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
  }

  &__btn {
    padding: 10px 20px;
    border-radius: 20px;
    background: #000;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    line-height: normal;
    margin-left: auto;
    margin-left: 400px;
  }

  &__line {
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 536px;
    height: 1px;
    stroke-width: 1px;
    background-color: $main-color;
    display: flex;
    justify-content: center;
  }
}
