@use '../bais/variable' as *;
.football {
 

  &__title {
    color: #000;
      font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 36px;
    // display: flex;
    // justify-content: center;
    margin-left: auto;
    margin-right: auto;
    text-align: center;

  }

  &__box {
    width: 720px;

    height: 220px;
    position: relative;
    background-color: $football-color;
    border-radius: 37px;
    outline: 3px solid $main-color;
    display: flex;
    justify-content: center;
    margin: 0 auto; /* щоб по центру */
  }

  &__img {
    width: 50px;
    height: 50px;
    left: 0;
    top: 0;
    position: absolute;
    transition: 1s all;
  }

  &__line {
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 536px;
  height: 1px;
  stroke-width: 1px;
  background-color: $main-color;
  display: flex;
  justify-content: center;
}
}
