@use '../bais/variable' as *;

.footer {
  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 130px;
  }

  &__wrap {
    display: flex;
    align-items: center;
    gap: 250px;
  }

  .footer__logo {
    display: flex;
    gap: 9px;
  }

  .footer__textcoding {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: $main-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer__textmagic {
    color: $main-color;
    font-family: Sacramento;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__link {
    color: $main-color;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 400px;
  }

  &__input {
    display: inline-flex;
    padding: 10px 40px 10px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: $second-color;
    color: $shadow-color;
    font-size: 12px;
    font-weight: 400;
    border: none;
    outline: none;
  }

  &__btn {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: $main-color;
    color: $background-color;
    font-size: 12px;
    font-weight: 400;
    margin-left: 36px;
  }

  &__text {
    color: $main-color;
    font-size: 8.5px;
    font-weight: 400;
    margin-top: 18px;
  }
}

.form__box {
  display: flex;
}
