@use '../bais/variable' as *;

.footer {

  .container {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 130px;
  }

  &__wrap {
    display: flex;
    // justify-content: space-between;
    align-items: center;
    gap: 250px;
  }

  // &__img {
  //     width: 165px;
  //     height: 70px;
  //     // background-image: url(../img/coding.png);
  //     background-repeat: no-repeat;
  //     background-size: contain;
  // }

  .footer__logo {
    display: flex;
    gap: 9px;
    width: 80px;
    height: 50px;
  }

  .footer__textcoding {
    display: flex;
    flex-direction: column;
    align-items: end;
    color: $main-color;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  .footer__textmagic {
    color: $main-color;
    font-family: Sacramento;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
  }

  &__link {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
  }

  &__box {
    display: flex;
    align-items: center;
    gap: 400px;
  }

  &__input {
    display: inline-flex;
    padding: 10px 40px 10px 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #d7d7d7;
    color: #7e7e7e;
    font-size: 12px;
    font-weight: 400;
    border: none;
    outline: none;
  }

  &__btn {
    display: inline-flex;
    padding: 10px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 20px;
    background: #000;
    color: #fff;
    font-size: 12px;
    font-weight: 400;
    margin-left: 36px;
  }

  &__text {
    color: #000;
    font-size: 8px;
    font-weight: 400;
    margin-top: 18px;
  }
}

.form__box {
  display: flex;
}
