@use '../bais/variable' as *;

.header {
  padding-top: 21px;
  padding-bottom: 21px;
  width: 100%;
  background-color: #ffffff;
}

.header .container {
  display: flex;
  gap: 434px;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.header__mainbox {
  display: flex;
}

.header__logo {
  margin-right: 81px;
  display: flex;
  gap: 9px;
}

.header__logoimg {
  width: 40px;
  height: 38px;
}

.header__textcoding {
  display: flex;
  flex-direction: column;
  align-items: end;
  color: $main-color;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__textmagic {
  color: $main-color;
  font-family: Sacramento;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__list {
  display: flex;
  align-items: center;
}

.header__items {
  display: flex;
  gap: 50px;
}

.header__link {
  color: $main-color;
  font-size: 16px;
  font-weight: 400;
  line-height: normal;
}

.header__imagearrow {
  margin-left: 3px;
}

.header__informationbox {
  display: flex;
  gap: 51px;
}

// .header__sliderimg {
//   width: 40px;
//   height: 20px;
//   cursor: pointer;
// }

.header__containerslider {
  background-color: #7a7a7a;
  width: 40px;
  height: 20px;
  border-radius: 11px;
  position: relative;
}

.header__sliderbox {
  width: 20.5px;
  height: 20px;
  background-color: #fff;
  border-radius: 11px;
  border: 1px solid #000;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.header__slider {
  width: 15px;
  height: 14.7px;
}

.active-slider {
  .header__sliderbox {
    left: 20px;
    background-color: #000;
  }
}

.header__greetings {
  color: $main-color;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.header__greetingsspan {
  color: $main-color;
  text-align: right;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
