@use '../bais/variable' as *;

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.2);
  z-index: 0;
}

.modal-header {
  width: 700px;
  height: 356px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  background: $background-color;
  padding: 56px 82px;
}

.modal-header__close {
  position: absolute;
  top: 30px;
  right: 30px;
}

.modal-header__iconclose {
  width: 15px;
  height: 15px;
}

.modal-header__title {
  color: $main-color;
  margin: 0 auto;
  text-align: center;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-header__form {
  margin-top: 42px;
  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;
  align-items: center;
}

.modal-header__information {
  color: $main-color;
  font-family: Inter;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.modal-header__input {
  width: 89px;
  color: #7e7e7e;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 90px 10px 10px;
  border-radius: 20px;
  background: #d7d7d7;
}

.modal-header__submit {
  width: 120px;
  color: #fff;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  padding: 10px 20px;
  border-radius: 20px;
  background: #000;
  box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
}

.modal-header__backgroundicon {
  width: 30px;
  height: 30px;
  position: absolute;
}

.modal-header__backgroundicon:first-child {
  top: 154px;
  left: 41px;
}

.modal-header__backgroundicon:nth-child(2) {
  top: 230px;
  left: 85px;
}

.modal-header__backgroundicon:nth-child(3) {
  top: 154px;
  right: 41px;
}

.modal-header__backgroundicon:nth-child(4) {
  top: 230px;
  right: 85px;
}
