@use '../bais/variable' as *;

.papers .container {
  height: 260px;
}
.papers__newbox {
  margin-left: 200px;
}
.papers__box {
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  gap: 110px;
}

.papers__title {
  color: $main-color;
  font-size: 20px;
  font-weight: 400;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 36px;
}

.papers__item {
  cursor: pointer;
}

.papers__list {
  display: flex;
  gap: 38px;
  align-items: center;
}
.papers__text {
  color: $main-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 170%;
  width: 93px;
}
.papers__textw {
  color: $decor-color;

  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
  text-align: center;
  margin-top: 36px;
}
.papers__textl {
  color: red;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  display: none;
  text-align: center;
  margin-top: 36px;
}
.papers__btn {
  display: inline-flex;
  padding: 10px 20px;
  align-items: flex-start;
  gap: 10px;
  border-radius: 20px;
  background: $main-color;
  color: $background-color;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
.papers__parent {
  display: flex;
  justify-content: center;
  margin: 36px auto 0;
}

.papers__line {
  margin-top: 36px;
  margin-left: auto;
  margin-right: auto;
  width: 536px;
  height: 1px;
  stroke-width: 1px;
  background-color: $main-color;
  display: flex;
  justify-content: center;
}
