@use '../bais/variable' as *;

.number {
  &__wrap {
    height: 240px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__logo {
    color: #000;

    font-size: 20px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 36px;
    margin-top: 36px;
  }

  &__border {
    margin-top: 36px;
    margin-left: auto;
    margin-right: auto;
    width: 536px;
    height: 1px;
    stroke-width: 1px;
    background-color: $main-color;
    display: flex;
    justify-content: center;
    margin-top: 36px;
  }

  &__fix {
    display: flex;
    justify-content: center;
    margin-top: 15px;
  }

  &__num {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 36.5px;
    margin-left: 3px;
    align-items: center;
    justify-content: center;
  }

  &__text {
    color: #000;
    font-size: 16px;
    font-weight: 400;
    text-align: center;
    margin-top: 36px;
  }

  &__input {
   width: 117px;
    padding: 10px 20px;
    gap: 10px;
    border-radius: 20px;
    background: $second-color;
    color: $shadow-color;
    box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
  }

  &__list {
    display: flex;
    gap: 38px;
    justify-self: center;
    flex-direction: row;
  }
}
