@use "../bais/variable" as *;

.number {
    
    &__wrap {
        height: 240px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__logo {
        color: #000;
      
        font-size: 16px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 36px;
        margin-top: 36px;
    }

    &__border {
        height: 1.5px;
        background-color: black;
        margin-top: 20px;
        width: 550px;
        margin-right: auto;
        margin-left: auto;
    }

    &__fix {
        display: flex;
        justify-content: center;
        margin-top: 15px;
    }

    &__num {
        color: #000;
    
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        margin-top: 36.5px;
        margin-left: 3px;
        align-items: center;
        justify-content: center;
    }

    &__text {
        color: #000;
        font-size: 12px;
        font-weight: 400;
        text-align: center;
        margin-top: 36px;
        margin-bottom: 36px;
    }

    &__input {
        padding: 10px;
        border-radius: 20px;
        background: #d7d7d7;
        font-size: 12px;
        font-weight: 400;
        border: none;
        outline: none;
        box-shadow: 3px 3px 0 0 rgba(0, 0, 0, 0.25);
    }

    &__list {
        display: flex;
        gap: 38px;
        justify-self: center;
        flex-direction: row;
    }
}