@use "./bais/reset";
@use "./bais/container";
@use "./bais/variable";
@use "./bais/common";
@use "./section/header";
@use "./section/popular-games";
@use "./section/years";
@use "./section/guessnumber";
@use "./section/papers";
@use "./section/calculator";
@use "./section/calculatetime";
@use "./section/googledino";
@use "./section/football";
@use "./section/threenumber";
@use "./section/ourteam";
@use "./section/choose";
@use "./section/footer";
@use "./section/modal-header";
@use "./section/modal-footer";