body {
  font-family: 'Montserrat';
  background-image: url(../img/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #FFFFFF;
}

html {
  scroll-behavior: smooth;
}