<section>
    <div class="container">
        <h2>Обери вченого/их</h2>
        <list>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
            <li><img src="" alt=""></li>
        </list>
        <list>
            <li><button type="button">Які вчені народилися в 19 ст</button></li>
            <li><button type="button">Знайти рік народження Albert Einstein</button></li>
            <li><button type="button">Відсортувати вчених за алфавітом</button></li>
            <li><button type="button">Прізвища вчених, імена яких починається на літеру "С"</button></li>
            <li><button type="button"></button></li>
            <li><button type="button"></button></li>
            <li><button type="button"></button></li>
            <li><button type="button"></button></li>
            <li><button type="button"></button></li>
        </list>
    </div>
</section>