<footer class="footer" id="footer">
    <div class="container">
        <div class="footer__wrap">
            <div class="footer__box">
                <a class="footer__logo" href="#">
                    <img src="./img/logo-header.png" alt="footerlogo" class="footer__logoimg">
                    <p class="footer__textcoding">Coding<span class="footer__textmagic">Magic</span></p>
                </a>
                </a>
                <ul>
                    <li><a target="_blank" href="tel:+380961111111" class="footer__link">Тел: +38 (123) 456 78 90</a>
                    </li>
                    <li><a target="_blank" href="mailto:codingmagic@gmail.com" class="footer__link">E-Mail:
                            codingmagic@gmail.com</a></li>
                    <li><a target="_blank" href="https://www.facebook.com/?locale=ua_UA" class="footer__link">Facebook:
                            CodingMagic</a></li>
                    <li><a target="_blank" href="https://x.com/" class="footer__link">Twitter: CodingMagic</a></li>
                    <li><a target="_blank" href="https://www.instagram.com/" class="footer__link">Instagram:
                            CodingMagic</a></li>
                </ul>
            </div>
            <div>
                <form class="footer__form">
                    <div class="form__box">
                        <input type="email" placeholder="Ваша ел. адреса..." class="footer__input" required>
                        <button type="submit" class="footer__btn">Підписатись</button>
                    </div>
                    <p class="footer__text">*Підписавшись, Ви зможете ортимувати інформацію про новинки на сайті</p>
                </form>
            </div>
        </div>
    </div>
</footer>