<section class="guessnumber">
<div class="container">
<h2 class="guessnumber__title">Вгадай число, яке загадав комп’ютер</h2>
<div class="guessnumber__box">
<form class="guessnumber__form">
                <input type="text" placeholder="Введіть число" required class="guessnumber__inputyear">
                <button class="guessnumber__buttonsubmit">
                    <img src="./img/loupe.png" alt="loupe" class="guessnumber__loupeimg">
                </button>
            </form>
            <p class="guessnumber__identifyyear">Введіть загадане число</p>
            </div>
            <div class="guessnumber__line"></div>
</div>
</section>