<header class="header">
    <div class="container">
        <div class="header__mainbox">
            <a class="header__logo" href="#">
                <img src="./img/logo-header.png" alt="headerlogo" class="header__logoimg">
                <p class="header__textcoding">Coding<span class="header__textmagic">Magic</span></p>
            </a>
            <nav class="header__list">
                <ul class="header__items">
                    <li class="header__item">
                        <a href="#" class="header__link">Інтерактив</a>
                        <!-- <svg class="header__linkicon">
                           <use href=""></use>
                        </svg> -->
                    </li>
                    <li class="header__item">
                        <a href="#ourteam" class="header__link">Наша команда</a>
                    </li>
                    <li class="header__item">
                        <a href="#footer" class="header__link">Контакти</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__informationbox">
            <img src="./img/slider-day.png" alt="sliderday" class="header__sliderimg">
            <p class="header__greetings">Вітаємо, User!</p>
        </div>
    </div>
</header>