<header class="header">
    <div class="container">
        <div class="header__mainbox">
            <a class="header__logo" href="#">
                <img src="./img/logo-header.png" alt="headerlogo" class="header__logoimg">
                <p class="header__textcoding">Coding<span class="header__textmagic">Magic</span></p>
            </a>
            <nav class="header__list">
                <ul class="header__items">
                    <li class="header__item">
                        <a href="#" class="header__link">Інтерактив
                            <svg class="header__imagearrow" width="10" height="6" viewBox="0 0 10 6" fill="none"
                                xmlns="http://www.w3.org/2000/svg">
                                <path d="M9.375 0.375L4.875 5.375L0.375 0.375" stroke="black" stroke-width="0.75"
                                    stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </li>
                    <li class="header__item">
                        <a href="#ourteam" class="header__link">Наша команда</a>
                    </li>
                    <li class="header__item">
                        <a href="#footer" class="header__link">Контакти</a>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="header__informationbox">
            <img src="./img/slider-day.png" alt="sliderday" class="header__sliderimg">
               <!-- <div class="header__containerslider">
                <div class="header__sliderbox">
                    <img src="./img/sun.png" alt="slider" class="header__slider">
                </div>
            </div> -->
            <p class="header__greetings">Вітаємо, <span class="header__greetingsspan">User!</span></p>
        </div>
    </div>
</header>