<div class="modal-header">
    <button type="button" class="modal-header__close">
        <img class="modal-header__iconclose" src="./img/close.png" alt="closebutton">
    </button>
    <div class="modal-header__titlebox">
        <h2 class="modal-header__title">Привіт!</h2>
        <h2 class="modal-header__title">
            Ви потрапили на сайт інтерактивних ігор та завдань
        </h2>
        <h2 class="modal-header__title">
            Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
        </h2>
        <h2 class="modal-header__title">
            Бажаємо Вам гарно провести час!
        </h2>
    </div>
    <form class="modal-header__form">
        <label for="name" class="modal-header__information">Введіть своє ім’я:</label>
        <input type="text" id="name" placeholder="Ваше ім'я..." class="modal-header__input" required>
        <button type="submit" class="modal-header__submit">Зберегти</button>
    </form>
    <div class="modal-header__svggroup">
        <img src="./img/sword.png" alt="" class="modal-header__backgroundicon">
        <img src="./img/puzzle.png" alt="" class="modal-header__backgroundicon">
        <img src="./img/game-icon.png" alt="" class="modal-header__backgroundicon">
        <img src="./img/tic-tac-toe.png" alt="" class="modal-header__backgroundicon">
    </div>
</div>