<div class="modal-header">
    <button type="button" class="modal-header__close">
        <!-- <svg class="modal-header__iconclose">
            <use href=""></use>
        </svg> -->
    </button>
    <h2 class="modal-header__title">Привіт!
        Ви потрапили на сайт інтерактивних ігор та завдань
        Надіємось, що вам сподобається і ви отримаєте позитивні емоції!
        Бажаємо Вам гарно провести час!
    </h2>
    <form class="modal-header__form">
        <label for="name" class="modal-header__information">Введіть своє ім’я:</label>
        <input type="text" id="name" placeholder="Ваше ім'я..." class="modal-header__input">
        <button type="submit" class="modal-header__submit">Зберегти</button>
    </form>
    <div class="modal-header__svggroup">
        <!-- <svg class="modal-header__backgroundicon">
            <use href=""></use>
        </svg> -->
        <!-- <svg class="modal-header__backgroundicon">
            <use href=""></use>
        </svg> -->
        <!-- <svg class="modal-header__backgroundicon">
            <use href=""></use>
        </svg> -->
        <!-- <svg class="modal-header__backgroundicon">
            <use href=""></use>
        </svg> -->
    </div>
</div>