<section class="backdrop is-hidden">
    <div class="modal">
        <button class="backdrop__btn"><img src="./img/close.png" class="backdrop__img" alt="close"></button>
        <p class="backdrop__text">Дякую за підписку!</p>
        <img src="./img/sword.png" class="backdrop__icons" alt="sword">
        <img src="./img/puzzle.png" class="backdrop__icons" alt="puzzle">
        <img src="./img/mirror-tic-tac-toe.png" class="backdrop__icons" alt="game">
        <img src="./img/mirror-game-development.png" class="backdrop__icons" alt="code">
    </div>
</section>