<div class="backdropnew is-hidden">
    <div class="modal-footer">
        <button class="backdropnew__btn"><img src="./img/close.png" class="backdropnew__img" alt="close"></button>
        <p class="backdropnew__text">Дякую за підписку!</p>
        <img src="./img/sword.png" class="backdropnew__icons" alt="sword">
        <img src="./img/puzzle.png" class="backdropnew__icons" alt="puzzle">
        <img src="./img/mirror-tic-tac-toe.png" class="backdropnew__icons" alt="game">
        <img src="./img/mirror-game-development.png" class="backdropnew__icons" alt="code">
    </div>
    </div>