<section class="ourteam" id="ourteam">
  <div class="container">
    <h2 class="ourteam__title">Наша команда</h2>
    <div class="ourteam__bigbox">
      <button type="button" class="ourteam__btnback">
        <svg width="52" height="101" viewBox="0 0 52 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M50.7071 0.353516L0.707095 50.3535L50.7071 100.354" stroke="black" />
        </svg>
      </button>
      <div class="ourteam__box">
        <img src="" alt="" class="ourteam__img" />
        <p class="ourteam__text">placeholder</p>
        <p class="ourteam__subtext">placeholder</p>
      </div>
      <button type="button" class="ourteam__btnnext">
        <svg width="52" height="101" viewBox="0 0 52 101" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0.353546 0.353516L50.3535 50.3535L0.353546 100.354" stroke="black" />
        </svg>
      </button>
    </div>
    <ul class="ourteam__list">
      <li class="ourteam__item">
        <div class="ourteam__stripe"></div>
      </li>
      <li class="ourteam__item">
        <div class="ourteam__stripe"></div>
      </li>
      <li class="ourteam__item">
        <div class="ourteam__stripe"></div>
      </li>
      <li class="ourteam__item">
        <div class="ourteam__stripe"></div>
      </li>
    </ul>
    <div class="ourteam__line"></div>
  </div>
</section>