<section class="papers">
  <div class="container">
    <h2 class="papers__title">Камінь - ножиці - папір</h2>
    <div class="papers__newbox">
      <div class="papers__box">
        <ul class="papers__list">
          <li class="papers__item">
            <img src="./img/stone.png" alt="1" class="papers__img" />
          </li>
          <li class="papers__item">
            <img src="./img/scissors.png" alt="2" class="papers__img" />
          </li>
          <li class="papers__item">
            <img src="./img/papers.png" alt="3" class="papers__img" />
          </li>
        </ul>
        <p class="papers__text">
          Рахунок: Комп’ютер- <span class="papers__l"></span> ви-
          <span class="papers__w"></span>
        </p>
      </div>
    </div>
    <p class="papers__textw">ви перемогли</p>
    <p class="papers__textl">ви програли</p>
  </div>
  <div class="papers__parent">
    <button class="papers__btn">Варіант комп’ютера</button>
  </div>
</section>
