<section class="number" id="number">
    <div class="container number__wrap">
        <div>
            <div class="number__border"></div>
            <h2 class="number__logo">Введіть 3 числа</h2>
            <ul class="number__list">
                <li class="number__item">
                    <input type="text" class="number__input" id="inp1" placeholder="Введіть число" />
                </li>
                <li class="number__item">
                    <input type="text" class="number__input" id="inp2" placeholder="Введіть число" />
                </li>
                <li class="number__item">
                    <input type="text" class="number__input" id="inp3" placeholder="Введіть число" />
                </li>
            </ul>
            <div class="number__fix">
                <p class="number__text">Найбільше число, яке ви ввели - (число) </p>
                <p class="number__num" id="result223"> </p>
            </div>
        </div>
    </div>
</section>