<section class="years">
    <div class="container">
        <h2 class="years__title">Перевір в який рік ти народився</h2>
        <div class="years__boxel">
            <form class="years__form">
                <input type="text" placeholder="Введіть рік народження" required class="years__inputyear">
                <button type="submit" class="years__buttonsubmit">
                    <img src="./img/loupe.png" alt="loupe" class="years__loupeimg">
                </button>
            </form>
            <p class="years__identifyyear">Ваш рік високосний чи ні?</p>
        </div>
        <div class="years__line"></div>
    </div>
</section>